.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  flex: 1 1 auto;

  &__map-container {
    border: 3px solid #ccc;
    flex: 1 1 auto;
    margin-top: 50px;
  }
}