.navigation-menu {
  // background-color: #3e8ada;
  background-color: #1c406d;
  flex: 0 0;
  min-width: 250px;
  height: 100%;

  &__content {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgb(14, 58, 97)
    }
  }
}